* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root{
    --body-bg: #0d7dff;
    --header-text: #f8fafc;
    --body-text: #1e2938;
    --headings: #64b5f6;
    --primary: #193549;
    --primary-shadow: #15232D;
    --secondary: #ff8c42;
    --secondary-shaow: #e67429;
    font-family: "Roboto", sans-serif;
    text-align: center;

}


#closeIcon,
.mobile-nav,
.desktop-nav {
    display: none;
}

svg{
    width: 20px;
}





/* BASE STYLES */

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* CUSTOM STYLES */

/* HEADER */

header{

    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    color:var(--header-text);
    background-color: var(--primary);
    background:  
        /* Top-right corner */
        radial-gradient(circle 1000px at 100% 0%, rgba(230, 116, 41, 0.7) 0%, transparent 85%),
        /* Bottom-left corner */
        radial-gradient(circle 1200px at 0% 100%, rgba(13, 125, 255, 0.7) 0%, transparent 85%),
        /* Dark base color that dominates the center */
        #0f0f23;
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.top-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-nav ul li{
    align-self: flex-end;
    font-weight: bold;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    fill: var(--header-text);
    transition: fill 0.3s ease;
}

.menu-btn:hover {
    fill: var(--secondary);
}

/* HERO SECTION */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img-container{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.rounded-image{
    width: 100%;
    height: auto;
    border-radius: 100px;

}

.main-img-bg{
    width: inherit;
    height: inherit;
}

.hero-img-container img {
    width: 200px;
}


/* MOBILE NAV */

.mobile-nav {
    /* position: absolute; */
    top: 56px;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    font-size: 2.5rem;
    background-color: var(--primary);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.mobile-nav.open{
    transform: translateX(0%);
}

.mobile-nav li {
    margin-bottom: 2rem;
}

.mobile-nav a{
    transition: color 0.3s ease;
}



/* MEDIA QUERY */

@media (min-width: 1024px){
    .menu-btn,
    .mobile-nav {
        display:none;
    }

    .desktop-nav{
        display: block;
    }

    header{
        margin-inline: 1rem;
        padding-inline: 3rem;
    }

    .desktop-nav ul{
        display: flex;
        gap: 3rem;
    }
}
